apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-ndbf
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-ndbf
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-ndbf
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-ndbf
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-ndbf
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-wcmx-tenant/rhtap-demo-app/hacbs-test-project-ndbf@sha256:58ce5c4b80c8b8df241551787eaa3c625ef1192a2c46b98b5374aa0fbe848637
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
